/* Style général pour la page */
.page {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* Style de la section principale */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre du panier */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style de la liste des produits */
.ProduitsPanier {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    margin-bottom: 20px;
    gap: 20px; /* Espacement horizontal entre les articles */
}

.ProduitsPanier img {
    max-width: 100px;
    margin-right: 20px; /* Espacement entre les produits */
    margin-bottom: 10px;
}

.ProduitsPanier p {
    margin: 0;
}

/* Style du champ de quantité */
.quantite-input {
    width: 30px; /* Largeur du champ de quantité */
    padding: 5px; /* Espace intérieur du champ */
    text-align: center; /* Centrez le texte dans le champ */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du total du panier */
.total {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

/* Style du bouton "Vider mon panier" */
.panier__bouton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.panier__bouton a:hover {
    background-color: #555;
}

/* Style du pied de page */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}


/* Style du formulaire élégant avec CSS Grid */
#formulaire {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 20px;
}

#formulaire h2 {
    font-size: 24px;
    grid-column: span 2;
    margin-bottom: 20px;
    text-align: center;
}

/* Style des champs */
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton "Passez commande" */
#formulaire input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
}

#formulaire input[type="submit"]:hover {
    background-color: #555;
}
